In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%load_ext autoreload
%autoreload 2

import os
import sys
sys.path.append(os.path.join('.', 'survival_utils'))
from survival_preprocessing import create_survival_data

In [2]:
# example
# Lets say followup_end_time=50, followup_max_time_from_index=30
# person 1: started at t=0 , died at t=20. Should have E=1, T=20
# person 2: started at t=10 , did not die but censored at t=30. Should have E=0, T=20
# person 3: started at t=20 , did not die and not censored. Should be censored via followup_max_time_from_index. Should have E=0, T=30
# person 4: started at t=40 , did not die and not censored. Should be censored via followup_end_time. Should have E=0, T=10
# person 5: started at t=10 , died at t=70. Should be censored via followup_end_time. Should have E=0, T=50


data_df = pd.DataFrame(data={'id': [1,2,3,4,5],
                            'index_date': [0,10,20,40,10],
                            'outcome_date':[20,np.nan,np.nan,np.nan, 70],
                            'censoring_date':[np.nan,30,np.nan,np.nan,np.nan]})
data_df

   id  index_date  outcome_date  censoring_date
0   1           0          20.0             NaN
1   2          10           NaN            30.0
2   3          20           NaN             NaN
3   4          40           NaN             NaN
4   5          10          70.0             NaN

In [6]:
data_df = pd.DataFrame(data={'id': [1,2,3,4,5],
                            'index_date': [0,10,20,40,0],
                            'outcome_date':[20,np.nan,np.nan,np.nan, 60],
                            'censoring_date':[np.nan,30,np.nan,np.nan,np.nan]})

survival_df = create_survival_data(data_df=data_df,
                                    id_col='id',
                                    index_time_col='index_date',
                                    outcome_time_col='outcome_date',
                                    followup_end_time=50,
                                    followup_max_time_from_index=30,
                                    censoring_time_col='censoring_date')
survival_df.set_index('id', inplace=True)
survival_df

    E   T
id
4   0  10
1   1  20
2   0  20
3   0  30
5   0  30